# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/.temp/
/coverage

# production
/.storybook_build/
/build/

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.release.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# webstorm
/.idea/
/.idea/httpRequests
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/usage.statistics.xml

# others
.cache
.Spotlight-V100
.Trashes
Thumbs.db
Desktop.ini
package-lock.json
/src/**/*.d.ts

# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace

# Android/IntelliJ
#
android/.idea
android/.idea/workspace.xml
android/app/build
android/app/src/main/assets/fonts
.gradle
local.properties
*.iml

# BUCK
buck-out/
\.buckd/
*.keystore